footer {
    color: #CC222A;
}

body {
    font-family: 'DM Sans';
    background-color: #EFF2EF;
    overflow-x: hidden;
}

a {
    color: #CC222A;
}

.btn-secondary {
    background-color: #F9D802;
    border-color: #F9D802;
    color: #CC222A;
}

.btn-secondary:hover {
    background-color: #FFEB3B;
    border-color: #FFEB3B;
    color: #CC222A;
}

.btn-primary {
    background-color: #CC222A;
    border-color: #CC222A;
    color: #F9D802;
}

.btn-primary:hover {
    background-color: #D4434A;
    border-color: #D4434A;
    color: #F9D802;
}

.carousel-item img {
    box-shadow: 5px 10px 20px 50px Black !important;
}

.carousel-caption-top {
    top:0;
    bottom:auto;
}
.carousel-caption {
    text-shadow: 0px 0px 10px black;
}

.navbar {
    background-color: #CC222A;
    font-size: larger;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
}

.navbar :hover {
    color: #F9D802 !important;
}

.navbar :active {
    color: #F9D802 !important;
}

.navbar a {
    margin-top: 0% !important;
    margin-bottom: 0% !important;
    padding-top: 0% !important;
    padding-bottom: 0% !important;
    color: #EFF2EF !important;
}

.navbar a :hover {
    color: #F9D802 !important;
}

.navbar a :active {
    color: #F9D802 !important;
}

.modal-header {
    background-color: #CC222A;
    color: #EFF2EF;
}

.modal-content {
    background-color: #EFF2EF;
}

.nav-pills > li > a.active {
    background-color: #CC222A !important;
    color: #F9D802 !important;
}

.nav-link {
    color: #CC222A;
}

.nav-link:hover {
    color: #CC222A;
}